# Binary
/gdrv
cmd/gdrv/gdrv
bin/

# Environment
.env
.env.*

# OS
.DS_Store

# Logs
*.log

# Temp files
*.tmp
.artifacts/

# IDE
.idea/
.vscode/
*.swp

# Coverage reports
coverage*.out
*_coverage.out
cover.out
coverage.html
*.bak

# Test artifacts
*.test
internal/files/Large Document
internal/files/auto-name.txt
/discovery-checker
